<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shipan.h5pd002">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<!--    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	
    <application
		android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="cn.popapps.game.MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 全透弹框的Activity -->
        <activity android:name="cn.popapps.game.MiguActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- 半透弹框的Activity -->
        <!--<activity android:name="cn.popapps.game.MiguActivity" android:theme="@style/MyDialogStyleBottom" />-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>
